$firstMainColor = #FFD700;
$secondMainColor = #000000;
$thirdMainColor = #FFFFFF;
$fourthMainColor = #F6F5F5;
$inconspicuousColor =#555555

$redStandartColor = #ff6b6b

$hrMain = #777777;
$hrCard= #E3E3E3

$hoverBgBtnBlack=#232222;
$hoverBgBtnStandart=#FFD700;

$borderCard =#E3E3E3

