@import 'color.styl';
@import 'variables.styl';
@import 'fonts.styl';

*
    margin: 0

li
    text-decoration none;
    list-style-type none;

body
    font-family: Arial, Helvetica, sans-serif

.main-wrapper
    padding: 0 5vw

.main-hr
    border: none;               
    height: 1px;                
    background-color: $hrMain;                 
    width: 100%; 