$breakpoint-mobile = 768
$breakpoint-desktop = 1440




$desktop = 'all and (max-width: ' + $breakpoint-desktop + 'px)';
$only-desktop = 'all and (min-width: ' + $breakpoint-mobile + 'px)';
$mobile = 'all and (max-width: ' + $breakpoint-mobile + 'px)';